/prjVBApp/prjVBApp/pagePart34567
/prjVBApp/prjVBApp/imgPart_34567.jpg
Quizzes/
prjDeleteMe/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/